@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: lightgray;
}

header {
    background-color: gray;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header h1 {
    color: white;
    padding: 10px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.384);
}

header .botao-menu {
    background-color: black;
    cursor: pointer;
    align-self: stretch;
    text-align: center;
}

header .botao-menu > span {
    font-size: 2em;
    color: white;
}

header > nav {
    width: calc(100% - 30px);
    height: 350px;
    display: none;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

header > nav > a {
    text-decoration: none;
}

header > nav > a > div {
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

main > section {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
}