@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte01: "Passion One", sans-serif;
    --fonte02: "Sriracha", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: none;
    text-decoration: none;
}

header {
    background-color: black;
    color: white;
    font-family: var(--fonte01);
    text-align: center;
    padding: 50px;
}

header h1 {
    font-size: 10vw;
}

header p, footer p {
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header a, footer a {
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte02);
    font-size: 3.5vw;
    padding: 50px 0 50px 20px;
    line-height: 2.1;
}

section.especial {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

section.especial > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 0 5px;
}

#q1 {
    background-color: #002400;
    background-image: url(imagens/background001.jpg);
    background-position: right bottom;
}

#q2 {
    background-color: #9DA685;
    background-image: url(imagens/background002.jpg);
    background-position: left top;
}

footer {
    background-color: black;
    color: white;
    font-family: var(--fonte01);
    text-align: center;
    padding: 10px;
}